
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f8fafc;
    color: #1f2933;
}
.layout {
    flex: 1 0 auto;
}

/* 
   Global Reset & Base Styles
    */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*
   Header
   */

.site-header {
    background-color: #102045;
    color: #ffffff;
    padding: 24px;
    text-align: center;
}

/*
   Navigation (Flexbox)
    */

.navbar {
    background-color: #1e293b;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.nav-list a {
    display: block;
    padding: 16px 0;
    color: #ffffff;
    text-decoration: none;
}

.nav-list a:hover {
    text-decoration: underline;
    color: blueviolet;
}

/* 
   Main Layout (CSS Grid)
   */

.layout {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 24px;
    padding: 24px;
}

/* 
   Main Content
    */

.content {
    background-color:rgb(136, 136, 154);
    padding: 20px;
    border-radius: 6px;
}

/* Cards using Flexbox */
.card-container {
    display: flex;
    gap: 16px;
    margin-top: 16px;
    flex-wrap: wrap;
}

.card {
    background-color: beige;
    padding: 16px;
    border-radius: 6px;
    flex: 1 1 200px;
}

/*
   Sidebar
    */

.sidebar {
    background-color: beige;
    padding: 20px;
    border-radius: 6px;
}

/* 
   Footer
    */

.site-footer {
    background-color: #0f172a;
    color: #ffffff;
    text-align: center;
    padding: 16px;
    margin-top: 24px;
}

/*
   Responsive Breakpoints*/

/* Tablet */
@media (max-width: 900px) {
    .layout {
        grid-template-columns: 2fr 1fr;
    }
}

/* Mobile */
@media (max-width: 600px) {
    .nav-list {
        flex-direction: column;
        align-items: center;
    }

    .layout {
        grid-template-columns: 1fr;
    }

    .sidebar {
        order: -1;
    }
}
